div {
	font-size: 15px;
	margin: auto;
	padding: auto;
	display: inline-block;
}

p{
	padding: auto;
	margin: auto;
}

.amarillo {
	background-color: yellow;
}

.rojo {
	background-color: red;
}

.pd15 {
	padding: 5px;
}

.pdt5 {
	padding: 5px;
}

.may {
	text-transform: uppercase;
}
