div {
	height:80px ; 
	width: 180px;
	margin: 20px;
	font-size: 15px;
	display: inline-block;
}
p{
padding-left: 10px;
margin: auto;

}
.amarillo {
	background-color: yellow;
}

.rojo {
	background-color: red;
}

.pd15{

padding-left: 15px;
}

.pdt5 {
	padding-top: 15px;
}

.may {
text-transform: uppercase;
}
