div {
	height:100px ; 
	width: 700;
	font-size: 15px
}


.amarillo {
	background-color: yellow;
}

.rojo {
	background-color: red;
}

.pd15{

padding-left: 5px;
}

.pdt5 {
	padding-top: 5px;
}

.may {
text-transform: uppercase;
}
